.article {
    display: flex;
    flex-direction: column;

    &__box {
        margin-bottom: 30px;
        text-align: center;
        &:last-child {
            margin-bottom: 0;
            padding-right: 0;
        }

        &--right {
            @include breakpoint-up("md") {
                text-align: right;
                .article__title--section,
                .article__title {
                    &::after {
                        left: auto;
                        transform: translateX(0);
                        right: 0;
                        width: 120%;
                    }
                }
            }
        }

        &--left {
            @include breakpoint-up("md") {
                text-align: left;
                .article__title--section,
                .article__title {
                    &::after {
                        left: 0;
                        transform: translateX(0);
                        width: 120%;
                    }
                }
            }
        }

        @include breakpoint-up("md") {
            margin-bottom: 0;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include breakpoint-up("md") {
            flex-direction: row;
            max-width: map-get($mwidth, md);
            & > * {
                flex: 1 1 100%;
            }
        }
        @include breakpoint-up("lg") {
            max-width: map-get($mwidth, lg);
        }

        &--vertical {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            width: 100%;
        }
    }

    &__title {
        font-size: 1rem;
        margin-top: 0;
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 16px;
        display: inline-block;
        text-align: center;
        line-height: 1;

        @include breakpoint-up("md") {
            font-size: 1.25rem;
        }

        &--section {
            position: relative;
            display: inline-block;
            text-align: center;
            line-height: 1;
            font-size: 1.875rem;
            margin-top: 0;
            margin-bottom: 20px;
            padding-bottom: 20px;

            @include breakpoint-up("md") {
                font-size: 2.5rem;
                padding-bottom: 20px;
                margin-bottom: 16px;
            }
        }

        &--line {
            &::after {
                position: absolute;
                content: "";
                display: inline-block;
                width: 50%;
                height: 3px;
                background-color: $white;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }
        }
    }

    &__greeting {
        font-size: 4.375rem;
        & > * {
            line-height: 0.6;
        }

        @include breakpoint-up("md") {
            font-size: 5.5rem;
        }

        @include breakpoint-up("lg") {
            font-size: 7.5rem;
        }

        &--highlight {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-size: 6rem;
            margin-bottom: 20px;

            @include breakpoint-up("md") {
                flex-wrap: nowrap;
                font-size: 8.5rem;
            }

            @include breakpoint-up("lg") {
                font-size: 10rem;
            }
        }
        &--sub {
            display: block;
            margin-bottom: 20px;
        }
        &--subtitle {
            font-size: $font-xs;
            @include breakpoint-up("md") {
                font-size: $font-md;
            }
            @include breakpoint-up("lg") {
                font-size: 1.5rem;
            }
        }
        &--img {
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: $white;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-left: 20px;

            @include breakpoint-up("md") {
                width: 110px;
                height: 110px;
            }

            @include breakpoint-up("lg") {
                width: 160px;
                height: 160px;
            }
        }
    }

    &__info {
        font-weight: 300;
        margin-top: 0;
        line-height: 1.5;
        font-size: $font-sm;
        &:last-child {
            margin-bottom: 0;
        }
        @include breakpoint-up("md") {
            font-size: $font-md;
        }
    }
}
